.ios, .md {

  home-page {

    .scroll {
      height: 100%
    }

    #map {
      width: 100%;
      height: 65%;
      border: green;
      padding: 5px;
    }
  }

}
.header {
  background: skyblue;
  font-style: italic;
  font: "Comic Sans MS";
  text-align: center;
}
